* {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html, body{
    height: 97%;
}

body
{
	font-family: 'PT Serif', serif;
    text-align: center;
    height: 100%;
}

.parent{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.child
{
    background-image: url('aan.jpg');
    background-position:center;
	background-repeat:no-repeat;
    background-size:cover;
    margin: auto;
    width: 972px;
    height: 756px;
    max-width: 90%;
    max-height: 90%;
    padding-top: 18vh; 
    padding-left: 5vw;
}

.option
{
    width: 20vh;
    display: block;
    padding: 2vh;
}

.option:hover
{
    border-radius: 100%;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    cursor: pointer;
}

.ans
{
    font-size: 10vh;
    display: none;
}

.an{
    width: 10vh;
}
