* {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body
{
	font-family: 'PT Serif', serif;
    text-align: center;
    height: 100%;
}

#forest {
    background-image: url('images/1.png'); 
    background-position:center;
	background-repeat:no-repeat;
    background-size:cover;
    margin: auto;
    position: relative;
  }

.smol
{
    height: auto;
    position: absolute;
    cursor: pointer;
}

.smol:hover
{   
    transform: scale(1.05); 
}

@media screen and (max-width: 600px) {

    h1{
        font-size: 1em;
    }

}