#navbar {
    margin: 0;
    width: 100%;
    background: rgb(192, 174, 174);
    padding: 20px 0;
    z-index: 999;
}

#navbar .container {
  padding: 10px 0;
  max-width: 100%;
}

#navbar ul {
    list-style: none;
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
}

#navbar ul li {
    font-family: 'Lato', sans-serif;
    padding:0 2.5%;
    display: inline-block;
}

#navbar ul li:first-child  {
  padding-left: 0;
}

#navbar ul li:last-child  {
  padding-right: 0;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body
{
	font-family: 'PT Serif', serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* .box
{
  margin-left: 10vw;
} */
div.gallery {
	margin: 5px;
  width: 200px;
  max-width: 90vw;
  display: inline-table;
  /* float:left; */
  margin: 5%;
  margin-top: 2%;
}
  
div.gallery img {
	width: 200px;
  height: 316px;
  padding: 10%;
}

div.gallery{
	border-radius: 20px;
	box-shadow: 0 0 10px 10px rgba(0,0,0,0.1);
	transition: all 0.3s ease;
}

.remaining
{
  margin-top: 200px;
}

h1
{
	text-align: center;
	font-size: 2em;
}

div.place
{
  border-radius: 5px;
	border: 1px solid rgb(0, 0, 0);
  height: 150px;
}

div.place img{
  width: 100px;
  height: auto;
}
#navbar img{
  width: 55px;
  cursor: pointer;
}
.heading
{
  max-width: 95%;
}

#box2
{
  display: none;
}

@media screen and (max-width: 1400px) {
  
  div.gallery {
    margin: 3%;
  }
}

@media screen and (max-width: 1000px) {
  
  h1{
    font-size: 2em;
  }

  .remaining{
    margin-top: 25vh;
  }

  #navbar img{
    width: 45px;
  }

  div.gallery img {

    height: 200px;
    width:auto;
		
  }

  div.gallery
  {
    width: 150px;
    margin-bottom: 5vh;
  }
}
@media screen and (max-width: 700px) {
	h1
	{
		font-size: 1em; 
	}

	div.gallery img {

    height: 200px;
    width:auto;
		
  }

  div.gallery
  {
    width: 150px;
    margin-bottom: 5vh;
  }
  
  #navbar img{
    width:30px;
  }

  #navbar{
    padding-top: 0;
    padding-bottom:0;
  }


  div.place
  {
    height: 70px;
  }

  div.place img{
    width: 60px;
    height: auto;
  }
  .remaining
  {
    margin-top: 30vh;
  }
}
