* {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html, body{
    height: 97%;
}

body
{
	font-family: 'PT Serif', serif;
    text-align: center;
    height: 100%;
}

.child
{
    background-image: url('img/aan.jpg');
    background-position:center;
	background-repeat:no-repeat;
    background-size:cover;
    margin: auto;
    margin-top: 5vh;
    width: 972px;
    height: 756px;
    max-width: 90%;
    max-height: 90%;
    padding-top: 18vh; 
    padding-left: 5vw;
}

.text
{
    background-color: coral;
    width: 10vw;
    float: left;
}

.option
{
    width: 20vh;
    display: block;
    padding: 2vh;
}

.option:hover
{
    border-radius: 100%;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    cursor: pointer;
}

.ans
{
    font-size: 10vh;
}

#ans0, #ans1, #ans2
{
    display: none;
}

.an{
    width: 10vh;
}

.sib1
{
    width: 38%;
    float: left;
}

div.sib2
{
    float:left;
    background-color: white;
    height: 30%;
    width: 57%;
    margin-top: 20vh;
    display: flex;
    align-items: center ;
    display: none;
    border: 2px solid black;
}

div.sib2 p{
    margin: auto;
    max-width: 90%;
}

#legend
{
    font-size: 2em;
    color: black;
}
.bubble {
	position: relative;
	background: white;
	border: 1px solid black;
    width:250px;
    padding:10px;
    font-family:arial;
    margin:0 auto;
    font-size:20px;
    border-radius:6px;
    margin-left: 20px; 
    display:none;   
}

.bubble:after,
.bubble:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.bubble:after {
	border-color: rgba(255, 255, 204, 0);
	border-right-color: white;
	border-width: 15px;
	margin-top: -15px;
}
.bubble:before {
	border-color: rgba(255, 204, 0, 0);
	border-right-color:black;
	border-width: 16px;
	margin-top: -16px;
}
  

@media screen and (max-width: 960px) {

    h1, #legend{
        font-size: 1.5em;
    }

}

@media screen and (max-width: 700px) {

    h1 {
        font-size: 1em;
    }

    #legend
    {
        font-family: 'Lato', sans-serif;
        font-size: 1em;
    }
    .child{
        margin-top: 0;
    }

    div.sib2
    {
        height: 60%;
        width: 40%;
        margin-top:10vh;
    }

    .sib1{
        width: 57%;
    }

    .child{
        padding-left: 0vw;
        max-height: 87%;
        padding-top: 12vh;
    }
    .bubble {
        width:100px;
        padding:10px;
        font-size:14px;
        margin-left: 15px;
    }
}