* {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html, body{
    height: 97%;
}

body
{
	font-family: 'PT Serif', serif;
    text-align: center;
    height: 100%;
}

.child
{
    background-image: url('img/map.png');
    background-position:center;
	background-repeat:no-repeat;
    background-size:cover;
    margin: auto;
    position: relative;
}

.mount {

    width: 80px;
    height: 80px;
    position: absolute;
    border: 1px solid black;
}

.smol
{
    width:75px;
    height: 75px;
    display:block;
    cursor:move;
}

.legends
{
    display: block;
    text-align: left;
    position: absolute;
    top: 52%;
    right: 2%;
}

table
{
    font-family: 'Lato', sans-serif;
}