* {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html, body{
    height: 97%;
}

body
{
	font-family: 'PT Serif', serif;
    text-align: center;
    height: 100%;
}

.child
{
    background-image: url('img/map.png');
    background-position:center;
	background-repeat:no-repeat;
    background-size:cover;
    margin: auto;
    position: relative;
}

.mount {

    width: 80px;
    height: 80px;
    position: absolute;
    font-family: 'Lato', sans-serif;
}

.smol
{
    width:75px;
    height: 75px;
    display:block;
    cursor:move;
}

.legends
{
    display: block;
    position: absolute;
    top: 52%;
    right: 2%;
}
p{
    background: white;
    padding: 3px;
}
table, td,tr {
    font-family: 'Lato', sans-serif;
}

@media screen and (max-width: 500px) {

    .mount {
        width: 50px;
        height: 50px;
    }

    h1{
        font-size: 1em;
    }

    table {
        font-size: 0.5em;
    }
}

@media screen and (max-width: 350px) {

    .mount {
        width: 30px;
        height: 30px;
    }

    .smol{
        margin: -1px;
    }

    p{
        padding: 0;
    }
}